*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    
    background-color: rgb(48, 54, 59);
    height: 100%;
}

.titles{
    display: flex;
    flex-direction: row;
    height:100px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
p{
    margin: 10px;
    text-align:center;
    font-weight: 700;
    font-size: 40px;
}
#tic{
    color: midnightblue;
}
#tac{
    color: forestgreen;
}
#toe{
    color: rgb(201, 38, 38);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    background-color: transparent;
    flex-direction: column;
}
.place-holder{
    background-color: transparent;
    height: 0p;
    
}
.game-box{
    background: linear-gradient(rgb(48, 54, 59), rgb(48, 54, 59)) padding-box,
    linear-gradient(to right, rgb(255, 26, 5), rgb(167, 35, 233)) border-box;
    border-radius: 5px;
    border: 4px solid transparent;
    height: 470px;
    width: 480px;
    /* display:flex;   
    flex-flow: wrap; */
}

.square{
    height: 150px;
    width: 153.2px;
    background-color: transparent;
    margin: 2px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(233, 101, 7), rgb(158, 32, 222)) 1;
}